@using Restaurant.ViewModels.Models.Menu;

@model IEnumerable<AllMenusViewModel>
@{
	ViewBag.Title = "All Menus";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
	@foreach (var menu in Model)
	{

		<p class="mb-0">Type Id: @menu.Id</p>
		<p class="mb-0">Type Name: @menu.MenuType</p>

		<form asp-controller="Menu" asp-action="Delete" method="post">
			<input type="hidden" name="menuId" value="@menu.Id" />
			<button type="submit">Delete</button>
		</form>
	}
</div>